<% unless comment.archived? %>
  <p class="text-md text-neutral-500 mt-2">
    <strong class="">Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p class="text-md text-neutral-500 mt-2">
    <strong class="">Comment:</strong>
    <%= comment.body %>
  </p>

  <div class="">
    <%= link_to "Delete Comment", [comment.article, comment], class: "text-red-600 font-semibold text-md", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>
