
<div class="max-w-3xl">
    <div class="flex flex-col">
        <h1 class="text-7xl font-bold">Share your thoughts with the community!</h1>
        <p class="text-2xl text-neutral-500 mt-2">
            We are so glad you are here. Please fill out the form below to create a new article and share your thoughts with the community! 
        </p>
    </div>

    <%= render "form", article: @article %>
</div>